@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600&display=swap');
    /*------root------*/
:root {
    --wt-col:#fff;
    --gr-col:#555;
    --bl-col:#7452e5;
    --sz-size: 1.875em;
    --ln-size: 0.625em;
    --hg-size: 1.25em;
    --mg-size: 0.4375em;
}

    /*------header------*/
header {
    background-image: url(../img/main-background.jpg);
    height: 70vh;
}

   /*------Main Heading------*/
h1 {
    letter-spacing: 0.25em;
    font-size: 3.4375em;
    color: rgb(211, 23, 23);
    margin-top: 0;
}

.quick-links {
    display: flex;
    justify-content: space-around;
    border-bottom: .1em solid rgba(85, 85, 85, 0.15);
    background-color:var(--wt-col);
    box-shadow: 0.25em var(--mg-size) 0.3125em rgba(199, 199, 199, 0.67);
}

.quick-links ul {
    display: flex;
    list-style: none;
}

.quick-links ul a {
    display: flex;
    flex-direction: column;
    margin-left: 2.5em;
    text-decoration: none;
    color: var(--gr-col);
    text-transform: uppercase;
    font-weight:bold;
}

    /*----- Search bar and button------*/
.search-bar {
    display: flex;
    margin: 2em;
}

.search-space {
    border: .1em solid #555;
    border-radius: var(--mg-size) 0 0 var(--mg-size);
    padding: .3em .5em;
}

.search-bttn {
    border: .1em solid var(--gr-col);;
    border-left: 0;
    border-radius: 0 var(--mg-size) var(--mg-size) 0;
    background-color: var(--wt-col);
    cursor: pointer;
}

.search-bttn img{
    height: 1em;
}

article {
    background-color: var(--wt-col);
    border-radius: var(--ln-size);
    box-shadow: 0.25em var(--mg-size) var(--mg-size) #8b8bff;
}

.grid {
    display: grid;
    grid-template-columns: 20em auto 20em;
    grid-template-rows: auto auto;
    padding: 3.125em 0.9375em;
}
    /*------Feedback and upload photos------*/
.content-mind {
    grid-column: 1/2;
    grid-row: 1/2;

}

.content-mind ul li {
    display: flex;
    margin: var(--hg-size) 0 0 3.4375em;
}

.content-mind ul li a {
    text-decoration: none;
    color: #000;
    margin-left: var(--sz-size);
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

.content-comm {
    padding: 0 var(--ln-size);
}

h2 {
    text-align: center;
    font-size: 1.8em;
}

.comm-box {
    display: flex;
    justify-content: space-between;
}

.comm-box ul ul {
    display: flex;
    justify-content: space-between
}

.content-best {
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 0 var(--hg-size);
}

    /*-------Social media links--------*/
.content-social ul a {
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    margin: var(--hg-size) 0 0 2.5em;
    color: #000;
    font-size: 1.2em;
}

.content-social ul li {
    margin-bottom: var(--ln-size);
}

.content-social ul img {
    margin-right: var(--hg-size);
}

.section-photo {
    width: 530px;
    margin: 0 auto 2.5em auto;
    padding-top: var(--hg-size);
}
