@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600&display=swap');

body{
    font-family:'Open Sans', sans-serif;
    color: #555555;
}

.main-row {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-image: url(/img/main-background.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.main-logo {
    height: 50px;
    margin-top: 10px;
}

.nav-icon {
    height: 30px;
    margin-bottom: 10px;
}

.main-banner {
    display: flex;
    justify-content: space-between;
}

.main-nav  ul {
    display: flex;
    list-style: none;
}

.main-nav  ul a {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-weight:bold;
}

h1 {
    position: relative;
    display: flexbox;
    text-align: center;
    top: 20%;
    text-transform: uppercase;
    word-spacing: 8px;
    letter-spacing: 4px;
    font-size: 55px;
    color: rgb(211, 23, 23);
    margin-top: 0;
}

.quick-links {
    display: flex;
    justify-content: space-around;
    border-bottom: .1em solid rgba(85, 85, 85, 0.15);
}

.quick-links ul {
    display: flex;
    list-style: none;
}

.quick-links ul a {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-weight:bold;
}

.search-bar {
    display: flex;
    margin: 2em;
}

.search-space {
    border: .1em solid #555;
    border-radius: 7px 0 0 7px;
    padding: .3em .5em;
}

.search-bttn {
    border: .1em solid #555;
    border-left: 0;
    border-radius: 0 7px 7px 0;
    background-color: #fff;
    cursor: pointer;
}

.search-bttn img{
    height: 1em;
}

footer {
   margin-top: 40px;
   background-color: #b4b4b4;
    padding: 1%;
}

footer p {
    display: flex;
}

.copyright-msg {
    margin: 30px auto;
}

footer img {
    margin-left: 200px;
}
