@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600&display=swap');

body{
    font-family:'Open Sans', sans-serif;
    color: #555555;
}

header {
    background-image: url(/img/main-background.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.main-logo {
    height: 50px;
    margin-top: 10px;
}

.main-nav ul img {
    height: 30px;
    margin-bottom: 10px;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.main-nav  ul {
    display: flex;
    list-style: none;
}

.main-nav  ul a {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-weight:bold;
}

h1 {
    position: relative;
    display: flexbox;
    text-align: center;
    top: 20%;
    text-transform: uppercase;
    word-spacing: 8px;
    letter-spacing: 4px;
    font-size: 55px;
    color: rgb(211, 23, 23);
    margin-top: 0;
}
