@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600&display=swap');
    /*------root------*/
:root {
    --wt-col:#fff;
    --gr-col:#555;
    --bl-col:#7452e5;
    --sz-size: 1.875em;
    --ln-size: 0.625em;
    --hg-size: 1.25em;
    --mg-size: 0.4375em;
}
/*---------Heading------------*/
h1 {
    letter-spacing: 0.1em;
    font-size: 3em;
    color: rgb(3, 107, 128);
    margin-top: 0.7em;
    margin-bottom: 0.3em;
}
.hotel-Private-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.content-comm {
    padding: 2 var(--ln-size);
    width: 50%;
    margin: 0 auto;
    background-color: white;
}


.comm-box {
    display: flex;
    justify-content: space-between;
}
.content-reccom{
    justify-content: center;
    
}

.content-reccom ul {
    margin: 1em;
    text-align: center;
}
.content-reccom ul button {
    margin-top: 1em;
}
h2 {
    text-align: center;
}

.comm-box ul a {
    color: black;
}
/*------feedback-------*/
.feedback{
    width: 50%;
    background-color: white;
    padding: 2%;
    margin: 2em auto;
    color: black;
}

h4 
{ font-size: 1.5em;
}

/*--------Ratings------*/
.rating{
    display: flex;
    justify-content: space-between;
}

/*------Star symbol-------*/
.star-sym{
    display: flex;
}

.starimg{
    margin-top: .7em;
    margin-left: 1em;
}

.para-content{
    color: rgb(3, 107, 128);
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
}

